* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(161, 45, 45);
  padding: 20px;
  color: white;
  font-size: 18px;
  width: 100%;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
  cursor: pointer;
}

nav ul li {
  list-style: none;
  padding: 0px 30px;
}